#productosDestacados {
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto;
}
#productosDestacados h2 {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 40px;
}
#productosDestacados #productos {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
}
#productosDestacados #productos .producto {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 20px;
  padding-bottom: 10px;
  position: relative;
}
#productosDestacados #productos .producto a {
  all: unset;
}
#productosDestacados #productos .producto img {
  width: 250px;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: opacity 400ms;
  opacity: 1;
}
#productosDestacados #productos .producto .detalle {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
}
#productosDestacados #productos .producto h3 {
  font-size: 16px;
}
#productosDestacados #productos .producto #buttonContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  top: 250px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
#productosDestacados #productos .producto button {
  all: unset;
  background-color: rgb(39, 39, 39);
  color: white;
  font-weight: 500;
  padding: 7px;
  font-size: 14px;
  cursor: pointer;
}
#productosDestacados #productos .producto:hover .defaultImg {
  opacity: 0;
}
#productosDestacados #productos .producto:hover .detalle {
  width: 250px;
  opacity: 1;
  background-color: rgb(226, 226, 226);
}
#productosDestacados #productos .producto:hover h3, #productosDestacados #productos .producto:hover h4 {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#productosDestacados #productos .producto:hover #buttonContainer {
  opacity: 1;
}
@media screen and (max-width: 1160px) and (min-width: 890px) {
  #productosDestacados #buttonContainer {
    top: 200px !important;
  }
}
@media screen and (max-width: 1160px) {
  #productosDestacados #productos .producto {
    margin: 10px !important;
  }
  #productosDestacados #productos .producto img {
    width: 200px !important;
  }
}
@media screen and (max-width: 890px) {
  #productosDestacados #productos {
    max-width: 540px;
  }
  #productosDestacados #productos .producto img {
    width: 250px !important;
  }
}
@media screen and (max-width: 540px) {
  #productosDestacados #productos .producto img {
    width: calc(50vw - 20px) !important;
  }
  #productosDestacados #buttonContainer {
    display: none !important;
  }
  #productosDestacados .producto:hover .defaultImg {
    opacity: 1 !important;
  }
  #productosDestacados .producto:hover .detalle {
    width: 0 !important;
    opacity: 0 !important;
  }
  #productosDestacados .producto:hover h3, #productosDestacados .producto:hover h4 {
    opacity: 1 !important;
  }
}/*# sourceMappingURL=productosDestacados.css.map */