#productsFilterContainer {
    background-color: rgb(43, 43, 43);
    height: 40px;
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #inputContainer {
        height: 100%;
        position: relative;

        input {
            all: unset;
            background-color: rgb(226, 226, 226);
            height: 100%;
            width: 250px;
            font-size: 14px;
            padding-left: 10px;
        }

        svg {
            width: 15px;
            position: absolute;
            right: 10px; top: 0; bottom: 0;
            margin: auto;
            fill: black;
        }
    }

    #priceFilter {
        margin-right: 5px;

        button {
            all: unset;
            height: 27px;
            background-color: rgb(226, 226, 226);
            font-size: 12px;
            padding: 0 5px;
            margin: 0 5px;
            cursor: pointer;
        }
    }
}

#productosSection {
    text-align: center;
    padding: 30px 0;
    padding-top: 70px;

    h2 {
        font-size: 20px;
        font-weight: 500;
    }

    h1 {
        font-size: 40px;
        font-weight: 800;
    }
    
    #productos {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        
        .producto {
            text-align: center;
            width: fit-content;
            margin: 10px 20px;
            padding-bottom: 10px;
            position: relative;

            img {
                width: 250px;
                height: 250px;
                object-fit: contain;
                margin: 0 auto;
                // background: linear-gradient(to right, rgb(197, 197, 197), rgb(233, 233, 233));
                background-color: rgb(240, 240, 240);
                user-select: none;
                transition: all 400ms;
                opacity: 1;
            }

            .detalle {
                position: absolute;
                opacity: 0;
                top: 0;
                right: 0;
                left: 0;
                margin: auto;
            }

            h3 {
                font-size: 16px;
            }

            #buttonContainer {
                position: absolute;
                left: 0; right: 0; bottom: 10px; top: 250px;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
            }

            button {
                all: unset;
                background-color: rgb(39, 39, 39);
                color: white;
                font-weight: 500;
                padding: 7px;
                font-size: 14px;
                cursor: pointer;
            }

            &:hover {
                .defaultImg {
                    opacity: 0;
                }

                .detalle {
                    width: 250px;
                    opacity: 1;
                    background-color: rgb(226, 226, 226);
                }

                h3, h4 {
                    opacity: 0;
                    user-select: none;
                }

                #buttonContainer {
                    opacity: 1;
                }
            }
        }
    }
}