#carritoContainer {

    table {
        width: calc(100% - 20px);
        margin: 0 auto;
        text-align: center;

        thead {
            background-color: rgb(230, 230, 230);
        }

        tbody {
            background-color: rgb(248, 248, 248);

            tr {
                td {

                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: contain;
                    }
                }
            }
        }

    }
}